## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
ciudades =['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
print(ciudades)
print(type(ciudades))

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
<class 'list'>

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:

print(ciudades[1])

New York

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(ciudades)
print(ciudades[1:4])

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
['New York', 'San Pablo', 'Madrid']

4) Visualizar el tipo de dato de la lista

In [7]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [9]:
print(ciudades)
print(ciudades[3:])

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
['Madrid', 'Londres', 'Luxemburgo', 'Santiago']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(ciudades)
print(ciudades[:4])

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
['Paris', 'New York', 'San Pablo', 'Madrid']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [13]:
ciudades.append('Rosario')
ciudades.append('Londres')
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Rosario', 'Londres']

8) Agregar otra ciudad, pero en la cuarta posición

In [20]:
ciudades.insert(3,'Mendoza')
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Rosario', 'Londres']

9) Concatenar otra lista a la ya creada

In [21]:
ciudades_mendoza=['San Rafael', 'San Carlos', 'Lavalle']
ciudades.extend(ciudades_mendoza)
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Lavalle']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [22]:
pos =ciudades.index('Londres')
print(pos)

5

Index nos trae el primer valor de la posicion segun la busqueda

11) ¿Qué pasa si se busca un elemento que no existe?

In [23]:
pos =ciudades.index('Looondres')
print(pos)

ValueError: 'Looondres' is not in list

Nos arroja un error de ejecucion

12) Eliminar un elemento de la lista

In [24]:
print(ciudades)
ciudades.remove('Rosario')
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Lavalle']
['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Lavalle']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [25]:
print(ciudades)
ciudades.remove('Rooosario')
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Lavalle']

ValueError: list.remove(x): x not in list

Si al intentar eleminar un objeto que no existe, nos genera un error de ejecucion

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [26]:
print(ciudades)
valor_retirado = ciudades.pop()
print(ciudades)
print(valor_retirado)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Lavalle']
['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos']
Lavalle

15) Mostrar la lista multiplicada por 4

In [27]:
print(ciudades * 4)

['Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos', 'Paris', 'New York', 'San Pablo', 'Mendoza', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Rosario', 'Londres', 'San Rafael', 'San Carlos']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [13]:
tupla1 = (1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(tupla1)
print(type(tupla1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [14]:
print(tupla1[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [16]:
if 20 in  tupla1:
    print('el 20 esta presente en la tupla')
print(30 in tupla1)     #

el 20 esta presente en la tupla
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [19]:
print(ciudades)

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']

In [26]:
existencia = 'San Luis' in ciudades
if existencia:
    print('San Luis esta presente en la ', type(ciudades))
else:
    ciudades.append('San Luis')
    print('se agrego San Luis a la Lista')
    print(ciudades)

se agrego San Luis a la Lista
['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago', 'Paris', 'Parisi', 'San Luis']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [31]:
print(ciudades.count('Paris'))      # conteo de repeticion de 'Paris' dentro de ciudades
print(tupla1.count(2))              # conteo de repeticion del valor '2' dentro de la yupla1

2
1

21) Convertir la tupla en una lista

In [35]:
type(tupla1)
tupla1 = list(tupla1)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [39]:

print(type(tupla1))
print(len(tupla1))
tup1, tup2, tup3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = tupla1
print( tup1, tup2, tup3)

<class 'list'>
20
1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [7]:
print(ciudades)
len(ciudades)

['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']

7

In [8]:
Paises = ['Francia', 'Estados Unidos', 'Brasil', 'España', 'Inglaterra', 'Luxemburgo', 'Chile']
Continente = ['Europa', 'America del Norte', 'America del Sur', 'Europa', 'Europa','Europa', 'America del Sur']

In [9]:
diccio_paises ={
    "ciudades" : ciudades,
    "Paises" : Paises,
    "Continente" : Continente
}

In [10]:
print(diccio_paises)

{'ciudades': ['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago'], 'Paises': ['Francia', 'Estados Unidos', 'Brasil', 'España', 'Inglaterra', 'Luxemburgo', 'Chile'], 'Continente': ['Europa', 'America del Norte', 'America del Sur', 'Europa', 'Europa', 'Europa', 'America del Sur']}

24) Imprimir las claves del diccionario

In [12]:
print(diccio_paises.keys())

dict_keys(['ciudades', 'Paises', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [16]:
for key, val in diccio_paises.items():
    print(key, val)

ciudades ['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
Paises ['Francia', 'Estados Unidos', 'Brasil', 'España', 'Inglaterra', 'Luxemburgo', 'Chile']
Continente ['Europa', 'America del Norte', 'America del Sur', 'Europa', 'Europa', 'Europa', 'America del Sur']

In [14]:
for i in diccio_paises:
    print(i)
    
    print(diccio_paises[i])

ciudades
['Paris', 'New York', 'San Pablo', 'Madrid', 'Londres', 'Luxemburgo', 'Santiago']
Paises
['Francia', 'Estados Unidos', 'Brasil', 'España', 'Inglaterra', 'Luxemburgo', 'Chile']
Continente
['Europa', 'America del Norte', 'America del Sur', 'Europa', 'Europa', 'Europa', 'America del Sur']