## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
num = 8
print('el numero es: ', num)

el numero es:  8

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print('el tipo de dato de num es:',type(num))

el tipo de dato de num es: <class 'int'>

4) Crear una variable que contenga tu nombre

In [3]:
nombre = 'Carlos Javier'
nomb1 = "Carlo's Javier "
nomb2 = 'Carlo\'s Javier '
print(nombre)
print(nomb1)
print(nomb2)

Carlos Javier
Carlo's Javier
Carlo's Javier

5) Crear una variable que contenga un número complejo

In [ ]:
num_complejo= 3+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print('el tipo de dato de nombre es : ',type(nombre))

el tipo de dato de nombre es :  <class 'str'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [2]:
import math
print(round(math.pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
var1 = True
var2 = 'True'
print(var1==var2)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [12]:
print('el tipo de var1 es: ', type(var1))
print('el tipo de var2 es: ', type(var2))

el tipo de True es:  <class 'bool'>
el tipo de True es:  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
num1 = 5
num2 = 7.8
res = num1+num2
print('el resultado es: ', res)

el resultado es:  12.8

11) Realizar una operación de suma de números complejos

In [14]:
comp1 = 2+3j
comp2 = 7+1j
res_compl= comp1 + comp2
print('El resultado de la sume de los dos complejos es: ', res_compl)

El resultado de la sume de los dos complejos es:  (9+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
num_real = -4.25
num_compl1 = 5+2j
resultado = num_real + num_compl1
print('el resultado es: ', resultado)

el resultado es:  (0.75+2j)

13) Realizar una operación de multiplicación

In [16]:
num1 = 8
num2 = 7
res = num1 * num2
print('el resultado de 8 * 7 es :', res)

el resultado de 8 * 7 es : 56

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print('2 elevado a la 8 potencia es: ', 2**8)

2 elevado a la 8 potencia es:  256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
coc = 27
div = 4
res = coc / div
print(' el resultado de dividir 27 por 4 es: ', res)

 el resultado de dividir 27 por 4 es:  6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
print(' el resultado entero de dividir 27 por 4 es: ', coc//div)

 el resultado entero de dividir 27 por 4 es:  6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
print(' el resto del resultado de dividir 27 por 4 es: ', coc%div)

 el resto del resultado de dividir 27 por 4 es:  3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
res = ( 4 * ( coc//div)) + (coc%div)
print(res)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
cad1 = 'Carlos '
cad2 = 'Javier '
cad3 = 'Pizarro'
res = cad1 + cad2+ cad3
print(res)

Carlos Javier Pizarro

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [25]:
print(type("2"))
print(type(2))

<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [26]:
print(type(int("2")))

<class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [27]:
a= float("3,8")

ValueError: could not convert string to float: '3,8'

Python utiliza el punto(.) como separador decimal y no la coma(,)

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [28]:
num = 3
num-=1
print(num)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [29]:
print(1<<2)

4

en sistema binario agrega dos ceros a la derecha del uno, lo que equivale al nro 4 en el sistema decimal

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [30]:
print(2+'2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

da error porque la suma no esta soportada entre un entero y un string

In [31]:
print(2+2)
print('2'+'2')

4
22

si los operandos fueran del mismo tipo, no darian el mismo resultado, porque en un caso haria la suma y en el otro la concatenacion

26) Realizar una operación válida entre valores de tipo entero y string

In [32]:
print(3*"ja ")

ja ja ja